@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&family=Rubik+Bubbles&family=Shizuru&family=Vina+Sans&display=swap");

body {
  font-family: "Vina Sans";
}


.overflow {
  background-color: rgba(117, 133, 133, 0.41);
}

.modal {
  min-width: 40vw;
  min-height: 250px;
}